PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=mundial2026

JWT_SECRET=cambia_esto_por_algo_seguro
JWT_EXPIRES_IN=8h

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

SPORTS_API_URL=https://v3.football.api-sports.io
SPORTS_API_KEY=

CORS_ORIGIN=http://localhost:4200
